form {
  height: 100%;
}

ion-item{
  --border-color: black;
}

.hsn {
  display: inline-block;
  padding-left: 3rem;
  font-weight: 600;

  ion-label {
    padding: 0.6rem;
    vertical-align: text-bottom;
  }
}

.border-all {
  border-style: solid;
  border-width: 0.1rem;
  border-color: silver;
}

.border-left {
  border-left-style: solid;
  border-width: 0.1rem;
  border-color: silver;
}

.border-left-right {
  @extend .border-left;
  border-right-style: solid;
}

.border-bottom{
  border-bottom-style: solid;
  border-width: 0.1rem;
  border-color: silver;
}

.border-top-radius {
  border-top-right-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
}

.no-border-bottom {
  @extend .border-all;
  border-bottom-style: none;
}
.hsn-row {
  @extend .border-all;
  border-top-style: none;
}

.default-font-style {
  color: rgb(112, 117, 123);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.invoice-row {
  @extend .border-all;
  @extend .border-top-radius;

  ion-input {
    font-weight: 600;
    opacity: 1;
    --ion-color-base: #ff0025;
    input:disabled {
      opacity: 1;
    }
  }
}

.calendar {
  ion-icon {
    padding-right: 0.5rem;
    font-size: 18px;
  }
  ion-input {
    font-size: 1rem;
    font-weight: 600;
    color: var(--ion-color-primary);
  }
}



.calendar-col {
  @extend .border-left;
}

.invoice-label {
  ion-icon {
    padding-right: 1rem;
  }
  font-size: 18px;
  font-family: Inter, sans-serif;
  color: #2c323c;
  font-weight: 600;
}


.invoice {
  color: rgb(112, 117, 123);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  margin-left: 75px;
  margin-right: 25px;
}

ion-radio {
  width: 15px;
  height: 15px;
}

.summary {
  @extend .invoice-label;
  padding-top: 0.5rem;
  margin-left: 100px;
}



.summary-amount {
  @extend .border-all;
  @extend .border-top-radius;
  margin-left: 100px;

  ion-input {
    --color: var(--ion-color-primary);
    font-weight: 600;
    font-size: 1rem;
  }
  input::part(native):disabled {
    opacity: 1;
  }
}

.before-tax {
  border-bottom-style: solid;
  border-width: 0.1rem;
  border-color: silver;
}

.gst {
  @extend .before-tax
}
.margin-left{
  margin-left: 35px;
}


.customer-details {
 @extend .margin-left;
  ion-item {
    color: rgb(112, 117, 123);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    --border-color: silver;
    ion-label {
      color: rgb(112, 117, 123);
      font-family: Inter, sans-serif;
      font-weight: 500;
    }
  }
}

.margin-bottom {
  margin-bottom: 16px;
}

.item {
  background-color: #dddee1;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.border-dashed-all {
  margin: 15px;
}

.item-details-margin-top {
  margin-top: 15px;
}

.item-details-margin-left-right{
  margin-left: 70px;
  margin-right: 70px;
}
